
.navbar-custom {
    background-color: #cac3c4;
    font-family: 'TUFont';
}
/* Modify brand and text color */
 
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
    font-size: 18px;
    font-family: 'TUFont';   
}

footer {
    display: block;
    text-align: center;
    background-color: #7a0d0d ;
    color: white;
    font-size: 14px;
    font-family: 'TUFont';
}

.footer-text {
    color: white;
    font-size: 14px;
}

a {
    color: black;
    text-decoration:none;
}

@font-face { font-family: 'TUFont'; src: local('TUFont'), url('/static/fonts/TUFont.ttf') format('truetype'); } 